<%- include('layout/header') %>
<link rel="stylesheet" href="/css/usuarios.css">
<body>
    <h1>Cooperativas - SISTEMA BANCARIO</h1>
    <div class="nav">
        <a href="/usuarios/Inicio">Inicio</a>
    </div>
    <% if(Usuario.rol==="usuario"){%>
        <% if(coopUser.length>0){%>
            <div class="form-container">
    
                <p>Eres miembro de las cooperativas <%coopUser.forEach((nombre)=>{%>
                    <%= nombre.nombre %>
               <% }) %> </p>
               <p>Tus fechas de pago son los: <%coopUser.forEach((nombre)=>{%>
                <%= nombre.fecha %> de cada mes 
            <% }) %> </p>
            </div>
     <%   }else{%>
        <div class="form-container">
            <p>
                No eres miembro de ninguna cooperativa
            </p>
        </div>
     <%} %>
    <%} %>

    
    
    <% if(Usuario.rol==="admin"){%>
        <div class="form-container">
            <h2>Agregar Nueva Cooperativa</h2>
            <form id="add-coop-form" method="post">
    
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" required placeholder="Nombre de la Cooperativa">
                <label for="duracion">Duracion:</label>
                <input type="text" name="duracion" required placeholder="Duracion de la Cooperativa">
                <label for="pagoTotal">Pago:</label>
                <input type="number" name="pagoTotal" required placeholder="Ingrese la cantidad a pagar">
                <label for="pagoMensual">Pago de mensualidad:</label>
                <input type="number" name="pagoMensual" required placeholder="Ingrese la cantidad a pagar mensualmente">
                <label for="fechaPago">Fechas de pago:</label>
                <input type="text" name="fechaPago" required placeholder="Dias de pago">
                <button type="submit">Agregar cooperativa</button>
            </form>
        </div>
    <%} %>
    <div id="message" class="message success">Refresca la página para ver los cambios</div>
    <ul id="user-list">
        <% cooperativas.forEach(cooperativas => { %>
            <li>
                <div class="container">
                    <p>ID: <%= cooperativas.id %> - <%= cooperativas.nombre %> </p>
                    <p>Pago: <%= cooperativas.pago %> - Pago mensual: <%= cooperativas.pagoMensual %> </p>
                    <p>Duracion: <%= cooperativas.duracion %> meses - Fechas de Pago: <%= cooperativas.fechaPago %> de cada mes </p>

                </div>

                <% if(Usuario.rol==="admin"){%>
                    <div>
                        <button class="edit-button" onclick="editCoop('<%= cooperativas.id %>', '<%= cooperativas.nombre %>','<%= cooperativas.pago %>','<%= cooperativas.duracion %>','<%= cooperativas.pagoMensual %>','<%= cooperativas.fechaPago %>')">Editar</button>
                        <button class="delete-button" onclick="deleteCoop('<%= cooperativas.id %>')">Eliminar</button>
                    </div>
                    <%} %>
                    <% if(Usuario.rol==="usuario"){%>

                        <form method="post">
                            <input type="hidden" name="id" value="<%= cooperativas.id %>">
                            <button type="submit" class="edit-button">Unirse</button>
                        </form>
                        <%} %>
            </li>
        <% }); %>
    </ul>

    <div class="form-container" id="edit-coop-form-container" style="display:none;">
        <h2>Editar Usuario</h2>
        <form id="edit-coop-form" onsubmit="updateCoop(event)">
            <input type="hidden" id="edit-id" name="id">

            <label for="edit-nombre">Nombre:</label>
            <input type="text" id="edit-nombre" name="nombre" required>
            <label for="duracion">Duracion:</label>
            <input type="text" id="edit-duracion"name="duracion" required placeholder="Duracion de la Cooperativa">
            <label for="pagoTotal">Pago:</label>
            <input type="number"id="edit-pago" name="pagoTotal" required placeholder="Ingrese la cantidad a pagar">
            <label for="pagoMensual">Pago de mensualidad:</label>
            <input type="number" id="edit-pagoMensual"name="pagoMensual" required placeholder="Ingrese la cantidad a pagar mensualmente">
            <label for="fechaPago">Fechas de pago:</label>
             <input type="text" id="edit-fecha"name="fechaPago" required placeholder="Dias de pago">

            <button type="submit">Actualizar Cooperativa</button>
        </form>
    </div>

    <script>
        
        function deleteCoop(id) {
            fetch(`http://localhost:3000/cooperativas/borrar/${id}`, {
                method: 'DELETE'
            })
            .then(()=>{
                window.location.reload();
            })
        }

        function editCoop(id, nombre,pago,duracion,pagoMensual,fecha) {
            document.getElementById('edit-id').value = id;
            document.getElementById('edit-nombre').value = nombre;
            document.getElementById('edit-pago').value = pago;
            document.getElementById('edit-duracion').value = duracion;
            document.getElementById('edit-pagoMensual').value = pagoMensual;
            document.getElementById('edit-fecha').value = fecha;

            document.getElementById('edit-coop-form-container').style.display = 'block';
        }

        function updateCoop(event) {
            event.preventDefault();
            console.log("llegue")

            const id = document.getElementById('edit-id').value;
            const json ={
                nombre: document.getElementById('edit-nombre').value,
                pago: document.getElementById('edit-pago').value,
                duracion: document.getElementById('edit-duracion').value,
                pagoMensual: document.getElementById('edit-pagoMensual').value,
                fecha: document.getElementById('edit-fecha').value
            } 
           
            fetch(`http://localhost:3000/cooperativas/editar/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(json)
            })
            .then(() => {
                    document.getElementById('edit-coop-form-container').style.display = 'none'
                    location.reload()
            });
            
        }
    </script>
   
